<!DOCTYPE html>
<html lang="en">
<body>

<h1>My First Heading</h1>

<p>My first paragraph.</p>

<ul>
    {{ range . }}
        <li>{{.}}</li>
    {{ end }}
</ul>

<ul>
    Can also use variables in templates

    {{ range $index, $element := . }}
        <li>{{$index}} - {{$element}}</li>
    {{ end }}
</ul>

</body>
</html>